<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter, It's what's happening / Twitter</title>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="icon" href="img/logo.icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container-main">
        <div class="container-r">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="logo-twitter-r">
            <g>
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
              ></path>
            </g>
          </svg>
          
          <h1>Twitter for Nagarro</h1>
          <h2>Join Nwitter today.</h2>
          <a href="login" class="btn-link" id="btn-link2"
            ><button class="btn-sign-in btn2">Sign in</button></a
          >
          <a href="register" class="btn-link" id="btn-link1"
            ><button class="btn-email btn2">
              Create Account
            </button></a
          >
          <p class="terms-of-service">
            By signing up, you agree to the <a href="">Terms of Service</a> and
            <a href=""
              >Privacy <br />
              Policy</a
            >, including <a href="">Cookie Use.</a>
          </p>

        </div>
        <div class="container-l" style="background-image: url(images/background.png)">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="logo-twitter-l">
            <g>
              <path
                d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <footer>
        <a href="">About</a>
        <a href="">Help Center</a>
        <a href="">Terms of Service</a>
        <a href="">Privacy Policy</a>
        <a href="">Cookie Policy</a>
        <a href="">Accessibility</a>
        <a href="">Ads info</a>
        <a href="">Blog</a>
        <a href="">Status</a>
        <a href="">Careers</a>
        <a href="">Brand Resources</a>
        <a href="">Advertising</a>
        <a href="">Marketing</a>
        <a href="">Twitter for Business</a>
        <a href="">Developers</a>
        <a href="">Directory</a>
        <a href="">Settings</a>
        <p>© 2022 Twitter, Inc.</p>
      </footer>
    </main>

    <script src="/js/landing.js"></script>
  </body>
</html>
