@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
}
.box {
  position: relative;
  height: 90vh;
  width: 38vw;
  border-radius: 20px;
  background-color: rgb(203, 203, 203);
}

/* text */
.text {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}

/* button */
button,
input {
  max-width: 320px;
  min-width: 280px;
  margin-top: 30px;
}
button,
.next {
  padding: 15px 70px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: 1px solid rgb(192, 192, 192);
}

.btn-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-google {
  max-width: 20px;
  min-width: 20px;
  margin-right: 10px;
}

/* or */
.or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

hr {
  margin-top: 30px;
  max-width: 130px;
  min-width: 130px;
  border-color: rgb(148, 148, 148);
}

.or p {
  margin: 30px 10px 0 10px;
  font-weight: 500;
  font-size: 15px;
}

.signinnamephone {
  display: flex;
  flex-direction: column;
}

.alternate {
  height: 60px;
  padding: 10px;
  outline: none;
  border: 2px solid rgb(116, 113, 113);
  border-radius: 5px;
  font-size: 15px;
}
.alternate::placeholder {
  color: rgb(116, 113, 113);
}

.next {
  height: 50px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
}

.signup {
  margin-top: 30px;
  color: rgb(116, 113, 113);
  font-size: 17px;
  font-weight: 600;
}
.signup a {
  text-decoration: none;
  color: rgb(226, 110, 27);
  font-size: 17px;
}
.signup a:hover{
  text-decoration: underline;
}
#cancel {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#cancel:hover {
  background-color: aliceblue;
}

#cancel a {
  text-decoration: none;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.success {
  color: green;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .box {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  button,
  input {
    margin-top: 15px;
  }
}
