
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 78);

}
.box{
    position: relative;
    height: 90vh;
    width: 38vw;
    border-radius: 20px;
    background-color: #fff;
}


/* cancel button */
#cancel{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  #cancel:hover{
    background-color: aliceblue;
  }

  #cancel a{
    text-decoration: none;
  }


  /* Content */

.content{
    margin: 70px 90px 0 90px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.namephone{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.name,
.username,
#email,
#date,
.password{
  height: 60px;
  border: 2px solid rgb(253, 71, 71);
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
#submitBtn{
  height: 50px;
  font-size: 20px;
  background-color: rgb(227, 109, 66);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 800;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .box {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  button,
  input {
    margin-top: 15px;
  }
}
